/* defines the card images */
.tile-puzzles {
    background-image: url("../img/tile-puzzles-screenshot.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  .word-scramble {
    background-image: url("../img/word-scramble-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .ohare-says {
    background-image: url("../img/ohare-says-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .lost-luggage {
    background-image: url("../img/lost-luggage-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .space-invaders {
    background-image: url("../img/space-invaders-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .tic-tac-toe {
    background-image: url("../img/tic-tac-toe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .buonos-pizza {
    background-image: url("../img/login-menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .note-taker {
    background-image: url("../img/Screenshot-home-page.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .weather-dashboard {
    background-image: url("../img/Screenshot-General-App.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .work-day-scheduler {
    background-image: url("../img/save-data.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .password-generator {
    background-image: url("../img/generate-password.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .buonos-trivia {
    background-image: url("../img/start-screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }