/* defines the card images */
.tile-puzzles {
    background-image: url("../img/tile-puzzles-screenshot.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
  
  .word-scramble {
    background-image: url("../img/word-scramble-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .ohare-says {
    background-image: url("../img/ohare-says-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .lost-luggage {
    background-image: url("../img/lost-luggage-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .space-invaders {
    background-image: url("../img/space-invaders-screenshot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .tic-tac-toe {
    background-image: url("../img/tic-tac-toe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }