* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
   display: flex;
   /* flex-wrap: wrap; */
   justify-content: space-between;
   padding: 20px;
   /* background-color: blue; */
   /* background-image: ; */
   /* color: yellow; */
   background-image: url("../img/header-background.jpg");
   width: 100%;
   /* position: fixed; */

}

#background-picture {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header h1 {
    padding-top: 3%;
    font-size: 40px;
    /* outline: 5px solid black; */
}

.strokeme
{
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

header nav {
   padding-top: 3%;
}

header nav a {
    
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    color: #4CAF50;
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  /* Floats object from the left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Floats the object from the right. */
.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-top: 2%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
  }

main img {
    max-height: 200px;
    transition: .2s;
  }

main img:hover {
    transform: scale(1.2);
    opacity: 0.7;
}

main img:hover .middle {
    opacity: 1;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_opacity */

/* .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  } */

footer {
    padding: 30px;
    background-color: brown;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer h2 {
    text-align: center;
    color: aqua;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }